.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.site-header {
  background: #3f51b5;
  color:#fff;
  padding: 20px 5%;
  box-shadow: 0 1px 3px #999;
}
/**
* adding a site element after the class will only effect the element that the class is attached to.
*/
.site-header h1 {
  margin:0;
  font-size: 20px;
  float:left;
}

.main-nav {
  float:right;
}

.main-nav ul {
  padding: 0;
  margin:0;
  font-size: 20px;
  list-style: none;
}

.main-nav ul li {
  display: inline;
}
.main-nav ul li a {
  text-decoration: none;
  color: #fff;
}

.into-text {
  font-size: 18px;
}

.billboard {
  background: #333;
  color:#fff;
  text-align: center;
  padding: 40px;
}

.billboard h2 {
  margin-top: 0;
}

.column-wrapper {
  width:90%;
  margin:0 auto;
}

.main-col {
  float: left;
  width: 70%;
}

.sidebar-col {
  background:#ccc;
  color:#000;
  float:right;
  width: 25%;
  padding:20px 2.5%;
}

.sidebar-col h4 {
  text-align: center;
}

.main-footer {
  background:#333;
  color:#fff;
  padding: 40px 5%;
}

.main-footer a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.copyright {
  float: left;
}

.footer-nav {
  list-style: none;
  float: right;
}

.footer-nav li {
  float: left;
}

.footer-nav li + li {
  margin-left: 10px;
}
